# üêº Pandas Practice Notebook (Guided)
Each section includes:
- ‚úÖ A demonstration with explanation
- ‚úèÔ∏è A practice exercise for you to try
- ‚úÖ An optional check cell to validate your work

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

## ‚úÖ Demo 1: Create a DataFrame from a dictionary

In [ ]:
data = {
    'city_name': ['London', 'Manchester', 'Bristol', 'London', 'Manchester', 'Bristol'],
    'measurement_date': ['2024-01-01', '2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02', '2024-01-02'],
    'pm25': [23.5, 19.1, 22.8, 24.7, 21.3, 25.1]
}
df = pd.DataFrame(data)
df

## ‚úèÔ∏è Exercise 1: Select just the 'city_name' and 'pm25' columns

In [ ]:
# Your code here
df[['city_name', 'pm25']]

In [ ]:
df[['city_name', 'pm25']]

## ‚úÖ Demo 2: Filter rows where PM2.5 > 23

In [ ]:
df[df['pm25'] > 23]

## ‚úèÔ∏è Exercise 2: Filter rows where PM2.5 is less than or equal to 22

In [ ]:
# Your code here
df[df['pm25'] <= 22]

In [ ]:
df[df['pm25'] <= 22]

## ‚úÖ Demo 3: Group by city and calculate average PM2.5

In [ ]:
df.groupby('city_name')['pm25'].mean()

## ‚úèÔ∏è Exercise 3: Group by measurement_date and calculate average PM2.5

In [ ]:
# Your code here
df.groupby('measurement_date')['pm25'].mean()

In [ ]:
df.groupby('measurement_date')['pm25'].mean()

## ‚úÖ Demo 4: Plot a bar chart of average PM2.5 by city

In [1]:
df.groupby('city_name')['pm25'].mean().plot(kind='bar')
plt.title('Average PM2.5 by City')
plt.xlabel('City')
plt.ylabel('PM2.5')
plt.show()

NameError: name 'df' is not defined

## ‚úèÔ∏è Exercise 4: Plot a bar chart of average PM2.5 by measurement date

In [ ]:
# Your code here

In [ ]:
df.groupby('measurement_date')['pm25'].mean().plot(kind='bar')
plt.title('Average PM2.5 by Date')
plt.xlabel('Date')
plt.ylabel('PM2.5')
plt.show()