# üìò How to Use This Notebook

Welcome to the **Mini SQL Project: Student Grades Tracker**.

This notebook is your interactive workspace to **learn SQL through Python and SQLite**.

### üîß Here's how to use it:
1. **Run the first few cells** to set up your database.
2. **Read the example SQL queries** provided in each section.
3. **Try solving the exercises yourself** in the "‚úçÔ∏è Your code here" cells.
4. **Compare with the solution** provided afterwards to check your understanding.
5. **Experiment freely!** Modify the queries, change the data, and see what happens.

This notebook won‚Äôt auto-grade you ‚Äî the goal is to **build your skills by doing**, step-by-step.

Let's get started! üöÄ

# üéì Mini SQL Project: Student Grades Tracker

This beginner-friendly project teaches core SQL concepts using Python and SQLite inside a Jupyter notebook.

We'll build a simple database to track students, courses, and their grades.

In [1]:
# ‚úÖ Step 1: Create and connect to SQLite database
import sqlite3

# Connect to (or create) the database file
conn = sqlite3.connect("student_grades.db")
cur = conn.cursor()
print("Database connected.")

Database connected.

In [2]:
# ‚úÖ Step 2: Create tables
cur.execute('''
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER
)''')

cur.execute('''
CREATE TABLE IF NOT EXISTS courses (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL
)''')

cur.execute('''
CREATE TABLE IF NOT EXISTS grades (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    student_id INTEGER,
    course_id INTEGER,
    grade INTEGER,
    FOREIGN KEY(student_id) REFERENCES students(id),
    FOREIGN KEY(course_id) REFERENCES courses(id)
)''')

conn.commit()
print("Tables created.")

Tables created.

In [3]:
# ‚úÖ Step 3: Insert dummy data




students = [('Alice', 20), ('Bob', 19), ('Charlie', 22)]
courses = [('Math',), ('History',), ('Biology',)]
grades = [(1, 1, 85), (1, 2, 78), (2, 1, 90), (3, 3, 88)]

cur.executemany("INSERT INTO students (name, age) VALUES (?, ?)", students)
cur.executemany("INSERT INTO courses (name) VALUES (?)", courses)
cur.executemany("INSERT INTO grades (student_id, course_id, grade) VALUES (?, ?, ?)", grades)

conn.commit()
print("Dummy data inserted.")

Dummy data inserted.

You're now ready to start exploring the database using SELECT queries, JOINs, and aggregations in the next steps!

## üîç SELECT Queries
Let's start by reading data from the database.

**üß™ Try this:** Show all students from the `students` table.

In [4]:
cur.execute("SELECT * FROM students")
for row in cur.fetchall():
    print(row)

(34, 'Alice', 20)
(35, 'Bob', 19)
(36, 'Charlie', 22)
(37, 'Alice', 20)
(38, 'Bob', 19)
(39, 'Charlie', 22)
(40, 'Alice', 20)
(41, 'Bob', 19)
(42, 'Charlie', 22)
(43, 'Alice', 20)
(44, 'Bob', 19)
(45, 'Charlie', 22)

**üí° Task:** Write a query that only shows the names of the students.

In [5]:
# ‚úçÔ∏è Your code here
cur.execute("SELECT name FROM students")
for name in cur.fetchall():
    print(name)

('Alice',)
('Bob',)
('Charlie',)
('Alice',)
('Bob',)
('Charlie',)
('Alice',)
('Bob',)
('Charlie',)
('Alice',)
('Bob',)
('Charlie',)

**‚úÖ Solution:**

In [6]:
cur.execute("SELECT name FROM students")
print(cur.fetchall())

[('Alice',), ('Bob',), ('Charlie',), ('Alice',), ('Bob',), ('Charlie',), ('Alice',), ('Bob',), ('Charlie',), ('Alice',), ('Bob',), ('Charlie',)]

## üéØ Filtering with WHERE
**üß™ Try this:** Show students who are older than 20.

In [7]:
cur.execute("SELECT name FROM students WHERE age < 20")
print(cur.fetchall())

[('Bob',), ('Bob',), ('Bob',), ('Bob',)]

## üîó Using JOIN to Connect Tables
Let's view student names, course names, and grades together.

**üß™ Try this:**

In [8]:
# Change this cell:
cur.execute('''
    SELECT students.name, grades.grade, courses.name
    FROM grades
    JOIN students ON students.id = grades.student_id
    JOIN courses ON courses.id = grades.course_id
''')

for row in cur.fetchall():
    print(row)